@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Uncial+Antiqua&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cinzel', serif;}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
input[type="text"] {
  background: #fff; /* White background for input fields */
  border: 1px solid #8b5e3c; /* Dark brown border */
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-family: 'Garamond', serif; /* Matching font */
}
