.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
.game-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-content: center;
    width: 100%; /* Ensure container takes full width */
    margin: 0 auto; /* Center container horizontally */
}
.game-card-container > *{
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    justify-content: center;
}
.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    gap: 20px; /* Space between cards */
    margin: 0 auto;
    padding: 20px;
  }