.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-size: cover;
    background-color: #f4e3c1; /* Parchment-like background */
    border: 5px solid #B08D57;
    
}

.input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #B08D57;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Shadow for a dramatic effect */
}

.button:hover {
    background-color: #DAA520;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a grid with 3 columns */
    gap: 20px; /* Adds space between the grid items */
    padding: 20px;
}

.noResults {
    text-align: center;
    color: #999;
    margin-top: 20px;
    font-size: 16px;
}
